$primary: #f3e9f1;
$secondary : rgb(226, 182, 252) ;
$light: #f3ebf3;
$info : #a567be;
$warning :#f3ae63;
$dark: #261626;
$danger : #f7b39f;

$link-hover-color: rgba(4, 58, 58,0.5)!default;


.fit{
    object-fit: cover;
};

a{
    text-decoration: none;
    color: rgb(4, 58, 58);
};

body{
    font-size: 1.2rem;
}; 

div{
    box-sizing: content-box;
    
}

.wrap{
    
}
#teddys-cards > div> a > figure > p.text-left\,wrap{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
};