$primary: #f3e9f1;
$secondary : rgb(232, 199, 252) ;
$light: #f5cef5;
$info : #c89dda;
$warning :#fdd8cdfa;
$dark: #584558;
$danger : #cbff9a;

$link-hover-color: rgba(4, 58, 58,0.5)!default;

$enable-shadows: true;
.fit{
    object-fit: cover;
};

a{
    text-decoration: none;
    color: rgb(4, 58, 58);
};

body{
    font-size: 1.2rem;
}; 

div{
    box-sizing: content-box;
    
}

#teddys-cards > div> a > figure > p.text-left\,wrap{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
};