$primary: #f3e9f1;
$secondary : rgb(232, 199, 252) ;
$light: #f5cef5;
$info : #c89dda;
$warning :#fdd8cdfa;
$dark: #ff7e7e;
$danger : #cbff9a;

$link-hover-color: rgba(4, 58, 58,0.5)!default;

$enable-shadows: true;
.fit{
    object-fit: cover;
};

a{
    text-decoration: none;
    color: rgb(4, 58, 58);
};

body{
    font-size: 1.2rem;
}; 

div{
    box-sizing: content-box;
    
}
 
.text-shadow{
    text-shadow: 4px 2px 3px rgb(168, 139, 144);
}
 
#teddys-cards > div> a > figure > p.text-left\,wrap{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
};